body{
  margin: 30px; 
}
.urgent{
  font-weight: bold;
}
.modal-body img{
  height: 450px;
  width: 450px;
  position: relative;
  margin-left: 9px;
}
.carousel{
  width: 50%;
  height: 30%;
  margin: auto;
}
.jumbotron{
  background-color: wheat;
}
.btn{
  background-color: crimson;
  border-color: transparent;
  vertical-align: middle;
}
.btn-outline-success{
  border-style: solid;
  border-radius: 10%;
}
.btn-lg{
  color: white;
}
label, input{
  display: flex;
}
label{
  padding-right: 20px;
}
.haha-img{
  width: 20%;
  height: 20%;
  object-fit: cover;
}